.hero {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;


    &__background{
        min-height: 72vh;
        background-image: url(../image/background_3.jpg);
        background-size: cover;
    }

    .button {
        margin-top: 2vw;
    }

    &__content {
        max-width: 750px;
        padding-left: 1em;
        margin-top: -50px;

        p {
            color: #000;
            margin-top: 2vw;
        }

            @media (max-width: 768px) {
                max-width: 180px;
            }
        }
}