@use 'hero';
@use 'synopsis';
@use 'characters';

@font-face {
    font-family: Saira Condensed;
    src: url(../../assets/fonts/SairaCondensed-Regular.ttf);
    font-weight: 400;

}
@font-face {
    font-family: Saira Condensed;
    src: url(../../assets/fonts/SairaCondensed-Bold.ttf);
    font-weight: 700;
}

$corTextoPrincipal: #000;
$corTextoSecundaria:#fff;
$corTituloPrincipal: #000;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Saira Condensed;
    font-weight: bold;
}

body {
    background-color:fff;
}

@mixin text($font-size: 16px) {
    font-size: $font-size;
    line-height: $font-size + 10px;
    color: #fff;
}

@mixin title($fontsize: 40px) {
    @include text($fontsize);
    color: $corTituloPrincipal;
}

.text--big {
    @include text(20px);
    font-weight: normal
}

.text {
    @include text();
}

.text--small {
    @include text(14px);
}

.title--big {
    @include title(44px);
}

.title {
    @include title();
}

.title--small {
    @include title(28px);
}

.button {
    display: block;
    width: 30%;
    height: 60px;
    font-size: 20px;
    font-weight: normal;
    color: $corTextoSecundaria;
    background-color: #1844be;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    margin-top: 2vw;
    transition: all ease .4s;
    cursor: pointer;

    &:hover {
        background-color: lighten(#1844be, 10%);
    }
}


